footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid var(--main-color);
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--color-black);
    text-align: center;
    padding: 5px;
    color: var(--aux-color-1);
}

.footerText{
    width: 33%;
}

footer a{
    color: var(--aux-color-1);
    transition: 0.3s;
}

footer a:hover{
    color: var(--aux-color-2);
}

.ofer{
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: 60px;
}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 20px;
    text-align: middle;
}

.alura__logo, .oracle__logo{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aux-color-1);
    border-radius: 10px;
    padding: 5px;
}

.alura__logo:hover{
    color: #0a3871;
    font-weight: bold;
    background-color: var(--color-white);
}

.oracle__logo:hover{
    color: #c74634;
    font-weight: bold;
    background-color: var(--color-white);
}

.alura__logo:hover img{
    content: url('./../img/logo-alura-2.png');
}

.oracle__logo:hover img{
    content: url('./../img/logo-oracle-2.png');
}

.logo{
    height: 20px;
    margin-right: 5px;
}