footer{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid var(--main-color);
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: var(--color-black);
    text-align: center;
    padding: 5px;
    color: var(--aux-color-1);
}

.footerText{
    width: 33%;
}

footer a{
    color: var(--aux-color-1);
    transition: 0.3s;
}

footer a:hover{
    color: var(--aux-color-2);
}

.ofer{
    font-size: 0.9em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    height: 60px;
}

.logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 20px;
    text-align: middle;
}

.logos__box a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--aux-color-1);
}

.logos__box a:hover{
    color: #c74634; /*0a3871*/
}

.logo{
    height: 20px;
    margin-right: 5px;
}